<header>
    <div class='logo'>
        <h1>TD7-Freelancers</h1>
    </div>
    
    <% if user_signed_in? %>
        <div class='menu'>
            <nav>
                <ul>
                    <li><%= current_user.username %>
                    <li><%= link_to 'Logout', destroy_user_session_path, method: :delete %></li>
                </ul>
            </nav>
        </div>
    <% else %>
        <div class='menu'>
            <nav>
                <ul>
                    <li><%= link_to 'Login', new_user_session_path %></li>
                    <li><%= link_to 'Cadastrar-se', new_user_registration_path %></li>
                </ul>
            </nav>
        </div>
    <% end %> 
</header>