<% unless freelancer_signed_in? || project_owner_signed_in? %>
    
    <main class="text-center" style="display: grid; place-content: center;">
        <h2 style="margin-top:2rem">O que deseja fazer?</h2>

        <ul class="list-inline d-flex flex-wrap", style="gap: 1rem;">
            <li>
                <%= link_to 'Oferecer Projetos', new_project_owner_session_path, class: "btn btn-secondary" %> 
            </li>
            <li>
                <%= link_to 'Entrar em Projetos', new_freelancer_session_path, class: "btn btn-secondary" %>
            </li>
        </ul>
    </main>
<% end %>


